
<div class="text-center">
    <img src="   https://cdn-icons-png.flaticon.com/512/1000/1000997.png" alt="car-key" border="0">
    <h2 class="text-center">Bem Vindo!</h2>
    <br />
    <p class="text-center text-muted mt-5 mb-0">
        Enviamos as instruçoes de recuperação de senha para o email: <strong>@ViewBag.Email</strong>
    </p>
</div>
