@model RecoverModel


<img src="   https://cdn-icons-png.flaticon.com/512/1000/1000997.png" alt="car-key" border="0">
<h2 class="text-center">Olá @ViewBag.Name!</h2>
<br />
@if (ViewBag.reciverd is null)
{
    <p class="text-center text-muted mt-3 mb-3">
        digite a sua nova senha
    </p>
}

<form asp-action="RecoverPassword" id="register-form" role="form" autocomplete="off" class="form" method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
        <input asp-for="Token" id="forgetAnswer" placeholder="Nome" class="form-control" type="hidden" value="@Model?.Token">
    </div>
    @if (ViewBag.reciverd is not null)
    {
        <div class="form-group">
            <p class="text-center text-muted mt-5 mb-0">
                Sua senha foi alterada com sucesso!
            </p>
        </div>

        <div class="form-group">
            <a name="btnForget" href="@Url.Action("SigIn","Login")" class="btn btn-lg btn-primary btn-block btnForget">Logar</a>
        </div>
    }
    else
    {
        <div class="form-group">

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                <input asp-for="Password" placeholder="Nova senha" class="form-control" value="@Model?.Password">
            </div>
            <div class="input-group">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Cadastrar" type="submit">
        </div>
    }


</form>



<script asp-append-version="true">
    $(document).ready(function () {
        $('form').on('input', 'input', function () {

            if ($(this).attr("name") == "Password")
                verificaForcaSenha(this)

            $(this).parent().next().find('span').html('');
        });

        if ($('input[name=Password]').legth) {
            verificaForcaSenha($('input[name=Password]'))
        }

        $('#buttom-submit').on('click', function (e) {
            if (verificaForcaSenha($('input[name=Password]'), true) != 3) {
                verificaForcaSenha($('input[name=Password]'))
                e.preventDefault();
            }
        });

        @if (ViewBag.msgError is not null)
        {
            <text>
                    swal.fire({
                        position: "center",
                        icon: "error",
                        text: "@ViewBag.msgError",
                        title: "Erro",
                        showConfirmButton: false,
                        timer: 4500

                    });
            </text>

        }
    });

    function verificaForcaSenha(password, notValidate) {
        var numeros = /([0-9])/;
        var alfabeto = /([a-zA-Z])/;
        var chEspeciais = /^(?=.*[@Html.Raw("@")!#$%^&*()/\\])[@Html.Raw("@")!#$%^&*()/\\a-zA-Z0-9]{8,30}$/;
        var status;

        if ($(password).val().length < 6) {
            if (notValidate != true) {
                $("#status-password").remove()
                $(password).after(`
                                            <div id="status-password" class="input-group">
                                                <span style='color:red'>Fraco, insira no mínimo 8 caracteres</span>
                                            </div>`
                );
            }

            status = 1;
        }
        else {
            if (numeros.test($(password).val()) && alfabeto.test($(password).val()) && chEspeciais.test($(password).val())) {
                if (notValidate != true) {
                    $("#status-password").remove()
                    $(password).after(`
                                            <div id="status-password" class="input-group">
                                                <span style='color:green'>Forte</span>
                                            </div>`
                    );
                }


                //$('#password-status').html("<span style='color:green'><b>Forte</b></span>");

                status = 3;
            } else {
                if (notValidate != true) {
                    $("#status-password").remove()
                    $(password).after(`
                                            <div id="status-password" class="input-group">
                                                <span style='color:orange'>Médio, insira um caracter especial, um número,uma letra minuscula e uma letra maiusla</span>
                                            </div>`
                    );
                }


                //$('#password-status').html("<span style='color:orange'>Médio, insira um caracter especial</span>");
                status = 2;
            }
        }

        return status;
    }
</script>
