@model RecoverEmailPassModel



<img src="   https://cdn-icons-png.flaticon.com/512/1000/1000997.png" alt="car-key" border="0">
<h2 class="text-center">Bem Vindo!</h2>
<br />
<form asp-action="RecoverEmailPassword" id="register-form" role="form" autocomplete="off" class="form" method="post">

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input asp-for="Email" placeholder="E-mail" class="form-control" value="@Model?.Email">
        </div>
        <div class="input-group">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Recuperar" type="submit">
    </div>

</form>


<script asp-append-version="true">
    $(document).ready(function () {
        $('form').on('input', 'input:text', function () {
            $(this).parent().next().find('span').html('');
        });

    @if (ViewBag.msgError is not null)
    {
        <text>
                swal.fire({
                    position: "center",
                    icon: "error",
                    text: "@ViewBag.msgError",
                    title: "Erro",
                    showConfirmButton: false,
                    timer: 4500

                });
        </text>

    }
                });
</script>
