@{
    ViewData["Title"] = "Home Page";
    @inject AuthUserService authUser;
}

<img src="https://cdn-icons-png.flaticon.com/512/5578/5578522.png " alt="car-key" border="0">
<h2 class="text-center"> Seja Bem Vindo, @authUser.Name!</h2>
<br />
<p class="text-center text-muted mt-5 mb-0">
    Email: <strong>@authUser.Email</strong>
</p>
