@model TwoFaModel

<img src="   https://cdn-icons-png.flaticon.com/512/1000/1000997.png" alt="car-key" border="0">
<h2 class="text-center">Autenticação</h2>
<br />
<form asp-action="TwoFa" id="register-form" role="form" autocomplete="off" class="form" method="post">
    <input asp-for="Id" id="customerId" type="hidden" value="@Model?.Id">
    <input asp-for="Email" type="hidden" value="@Model?.Email">
    <input asp-for="Name" type="hidden" value="@Model?.Name">

    <div class="form-group">

        <div class="title active">
            <div class="clock-wrap2">
                <div class="clock pro-0">
                    @*<span class="count">0</span>*@
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="text-center text-muted mt-5 mb-0">
                Digite a baixo o código enviado ao e-mail: @Model?.Email
            </p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input asp-for="Key" placeholder="Código" class="form-control" value="@Model?.Key" maxlength="4">
        </div>
        <div class="input-group">
            <span style="color:green; text-align:center;" id="keystatus"></span>
            <span asp-validation-for="Key" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Confirmar" type="submit">
    </div>

    <div class="form-group">
        <input name="btnGenerate" class="btn bg-secondary btn-block btn-lg gradient-custom-4 col-12 text-white" value="Reenviar" type="button" onclick="GenerateKey()">
    </div>

</form>


<script asp-append-version="true">
    $(document).ready(function () {
        $('form').on('input', 'input:text', function () {
            $(this).parent().next().find('span').html('');
        });

        @if (ViewBag.msgError is not null)
        {
            <text>
                    swal.fire({
                        position: "center",
                        icon: "error",
                        text: "@ViewBag.msgError",
                        title: "Erro",
                        showConfirmButton: false,
                        timer: 4500

                    });
            </text>

        }
    });

    function GenerateKey(){
        var id = $('#customerId').val();
        var url = window.location.href + `Login/TwoFaGenerate?id=${id}`;
        var indexRemove = url.indexOf('&') == -1 ? 0 : url.indexOf('&');
        var 
        console.log(url.slice(0, url.indexRemove))
        $.ajax({
            cache: false,
            url: url.slice(0, url.indexRemove),
            async: true,
            data: {},
            type: "GET",
            //beforeSend: function () {
            //    base.startLoad($(element))
            //},
            success: function (data) {
                $('#keystatus').html('Código enviado com sucesso');
            },
            error: function (data) {
                swal.fire({
                    position: "center",
                    icon: "error",
                    text: "Ocorreu um erro ao gerar o código, tente novamente mais tarde",
                    title: "Erro",
                    showConfirmButton: false,
                    timer: 4500

                });
            }
        });
   
    }
</script>